* {
    color: #286983;
    font-family: 'Blinker', sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 2000px) {
    .container {
        display: grid;
        grid-template-rows: 5rem 1fr 5rem;
        grid-template-columns: 250px 1fr;
        grid-template-areas: 
            's h h'
            's m m'
            's f f';
        width: 100vw;
        height: 100vh;
    }
    .newnote2 {
        display: grid;
        grid-template-rows: 15rem 1fr;
        grid-template-columns: 2rem 1fr;
        grid-template-areas: 
            'p t'
            '. b';
        font-size: 3rem;
        padding: 20px
    }
}

@media screen and (max-width: 400px) {
    .container {
        display: grid;
        grid-template-rows: 3rem 1fr 2rem;
        grid-template-columns: 7rem 1fr;
        grid-template-areas: 
            's h h'
            's m m'
            's f f';
        width: 100vw;
        height: 100vh;
    }
    .newnote2 {
        display: grid;
        grid-template-rows: 10rem 1fr;
        grid-template-columns: 20px 1fr;
        grid-template-areas: 
            'p t'
            '. b';
        font-size: 3rem;
    }
}

.header {
    grid-area: h;
    background-color: #faf4ed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px
}

.headerelement a{
    padding: 5px;
    font-size: 1.5rem;
}

.slideout {
    grid-area: s;
    background-color: #fffaf3;
}

.slideout2 {
    grid-area: s;
    background-color: #fffaf3;
    display: flex;
    flex-direction: column;
}

.main {
    grid-area: m;
    background-color: #f2e9de;
}

footer {
    grid-area: f;
    background-color: #faf4ed;
    text-align: center;
}

.slidebutton {
    padding: 40px;
    font-size: 2rem;
    background-color: #fffaf3;
    border: 0;
    height: 20px;
}

button {
    border: 0;
}

.newnotebutton {
    padding: 10px;
    font-size: 2rem;
    background-color: #e0def4;
}

.newnotebutton:hover {
    background-color: #9ccfd8
}

.darkmodebutton {
    background-color: #232136;
    color: #f6c177;
    height: 50px;
    width: 80px;
    float: right
}

.newnote1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 20px;
    font-size: 3rem;
}

.widthadjust {
    width: 10rem
}

.plus {
    grid-area: p;
    font-size: 2rem;
}

#textbox {
    grid-area: t;
}

.textbuttons {
    grid-area: b;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.savebutton,
.deletebutton {
    background-color: #f2e9de;
}

.deletebutton {
    color: #59546d
}

ul {
    list-style-type: none;
}